.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.create-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-top: 123px;
}

.create-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.create-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.create-form .input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-form .input-file {
  margin-bottom: 20px;
}

.image-preview {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
  border-radius: 10px;
}

.upload-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #0056b3;
}
